h1{
  font-size: 100px;
  color: orange;
  font-family: Sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
img{
  opacity: 0.9;
  margin: auto;
    width: 50%;
    border: 30px;
    padding: 20px;
    float:right
}
p{
      margin-top: 100px;
      margin-bottom: 100px;
      margin-right: 150px;
      margin-left: 80px;
}
.quotes{
  font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
  font-size: 30px
}
